img {
    width: 125px;
    height: 125px;
    margin: auto;
}

.current-temp-card {
    color: ivory;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    justify-content: center;
    max-height: 80vh;
    width: 20rem;
    background-color: brown;
    border-radius: 2rem;
    box-shadow: 4px 4px 1rem #000000;
}