.current-temp-card {
    color: ivory;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    justify-content: center;
    max-height: 80vh;
    width: 20rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 1rem #000000;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    img {
        width: 125px;
        height: 125px;
        margin: auto;
    }
}