.forecast {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.05rem;
    padding-bottom: 0.5rem;
}

@media screen and (orientation: portrait) and (max-height: 768px) {
    .forecast {
        margin-bottom: 0.5rem;
    }
}
